/*-- scss:defaults --*/

$navbar-bg: #1E3A8A;  // Dark Blue
$navbar-fg: #FFFFFF;  // White
$body-bg: #F3F4F6;   // Light Gray


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
