/*-- scss:defaults --*/

$navbar-bg: #8a1e1e;  // Red
$navbar-fg: #FFFFFF;  // White
$body-bg: #F3F4F6;   // Light Gray

/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Fonts
$sen: "Sen", sans-serif;

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  font-family: $sen;
}

h1, h2 {
  letter-spacing: 5px;
  font-weight: 800;
}